# Git files
.git
.gitignore

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Temp images / outputs
#*.png
#*.jpg
#*.jpeg
#*.svg

# OS files
.DS_Store

# Any local notebooks or data
.ipynb_checkpoints/
